# coding: utf-8
= "Найдено записей: #{@devices_number}"
.search
	= form_tag devices_path, :method => 'get' do
		= select_tag :qwerty, options_for_select(@attributes,@attr)
		= text_field_tag :search, params[:search], :placeholder => 'Введите параметры поиска'
		= submit_tag "Найти", :title => nil
%h1.paragraph Список рабочих (с датой следующей МР) приборов
= link_to "Импортировать базу по приборам из файла", import_devices_path
%br
= link_to "Список всех приборов", alldevices_devices_path
.scroll
	%table
		%tr
			%th= sortable "uniq_number_in_ASOMI", "Уникальный номер в АСОМИ"
			%th= sortable "title", "Наименование СИ"
			%th= sortable "device_type", "Тип СИ"
			%th= sortable "form_of_mr", "Вид МР"
			%th= sortable "inventory_number",  "Инвентарный номер"
			%th= sortable "serial_number", "Заводской номер"
			%th= sortable "status_id", "Статус"
			%th= sortable "mr_unit", "Подразделение МР"
			%th= sortable "location_id", "Местонахождение СИ, рабочая среда"
			%th= sortable "prev_mr_date", "Дата последней МР"
			%th= sortable "next_mr_date", "Дата следующей МР"
			%th Каналы
			%th= sortable "auto_position.automation_area", "Участок автоматизации"
			%th "Технологический агрегат"
			%th "Позиция"
			%th= sortable "replace_param", "Параметр заменяемости"
			%th "Взаимозаменяемость данного прибора"
			%th ??
			%th ??

		- @devices.each do |device|
			-#if @search == nil <-- Haml comment
			- if (device.next_mr_date.to_date - DateTime.now.to_date).to_i < 30
				%tr.red_row
					= render :partial => 'device_params', :locals => {:device => device}
			- elsif (device.next_mr_date.to_date - DateTime.now.to_date).to_i < 60
				%tr.yellow_row
					= render :partial => 'device_params', :locals => {:device => device}
			- else
				%tr.green_row
					= render :partial => 'device_params', :locals => {:device => device}
		-# <-- Haml comment
			- else
				- if  @regsearch.match(device.attributes[@attr].to_s.downcase) == nil
				- else
				%tr
					= render :partial => 'device_params', :locals => {:device => device}
.right
	= link_to 'Новый прибор', new_device_path
-# if @search == nil
.digg_pagination
	= will_paginate @devices, :previous_label => '&laquo; Туда', :next_label => 'Сюда &raquo;'#, :page_links => false
.page_selection
	= form_for :dump, :url => {:controller => "devices", :action => "select_page"} do |f|
		= f.select :page_selection, options_for_select([*1..@devices.total_pages.to_i],@page.to_i)
		= f.submit "Перейти"