%h1 Список всех приборов
Сейчас мы ищем замену для прибора:
.scroll
	%table
		%tr
			%td
			%td= link_to @device.title, device_path(@device)
			%td
			%td
			%td
			%td
			%td= @device.status.title
			%td
			%td= @device.location.title
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%th "Уникальный номер в АСОМИ"
			%th "Наименование СИ"
			%th "Тип СИ"
			%th "Вид МР"
			%th "Инвентарный номер"??
			%th	"Заводской номер"
			%th	"Статус"
			%th "Подразделение МР"
			%th "Местонахождение СИ, рабочая среда"
			%th "Дата последней МР"
			%th "Дата следующей МР"
			%th "Участок автоматизации"
			%th "Технологический агрегат"
			%th "Параметр заменяемости"
			%th "Взаимозаменяемость данного прибора"(здесь будут ссылки на подбор возможных замен)
			%th ??
			%th ??
			%th 
			
		- @devices.each do |device|
			%tr
				%td
				%td= link_to device.title, device_path(device)
				%td
				%td
				%td
				%td
				%td= device.status.title
				%td
				%td= device.location.title
				%td
				%td
				%td
				%td
				%td
				%td= link_to 'Подобрать замену', replacement_candidates_device_path(device)
				%td= link_to 'Редактировать', edit_device_path(device)
				%td= link_to 'Удалить', device, :confirm => 'Вы уверены?', :method => :delete
				%td= link_to 'Подходит для замены', make_replacement_pair_device_path(device)
.digg_pagination
	= will_paginate @devices, :previous_label => '&laquo; Туда', :next_label => 'Сюда &raquo;'