%h3 Менюха (поля карточки)
%ul
	%li Идентификационные данные
	%li
		= link_to 'История устройства', log_device_path(@device)
		(РАБОТАЕТ!!!!!!!!!!!!!)
	%ul
		%li История смены статусов
		%li История изменения атрибутов
%h1 Карточка СИ
.scroll
	%table
		%tr
			%th Наименование СИ:
			%th Местонахождение СИ:
			%th Статус СИ:
			%th Уникальный номер по АСОМИ:
			%th Тип СИ:
			%th Модель СИ:
			%th Вид МР (метрологической работы):
			%th Заводской номер:
			%th Подразделение МР:
			%th Дата последней МР:
			%th Дата следующей МР:
			%th Участок автоматизации:
			%th Технологический агрегат:
			%th Обозначение позиции:
			%th Параметр взаимозаменяемости:
			%th Год производства:
			%th Год начала эксплуатации:
			%th Диапазон входа:
			%th Единицы измерения на входе:
			%th Диапазон перестройки(входа):
			%th Диапазон перестройки(единицы измерения):
			%th Диапазон выхода:
			%th Единицы измерения на выходе:
			%th Паспорт:
			%th Место хранения оригинала паспорта:
			%th Наличие и адрес электронной версии паспорта:
			%th Техническое описание:
			%th Место хранения технического описания:
			%th Наличие и адрес электронной версии технического описания:
			%th Инструкция по эксплуатации:
			%th Место хранения инструкции по эксплуатации:
			%th Наличие и адрес электронной версии инструкции по эксплуатации:
			%th Содержание золота:
			%th Содержание серебра:
			%th Содержание платины:
			%th Содержание металлов ПГ:
			%th Номер подотчета:
			%th № ЕНС:
			%th Инвентарный номер:
		%tr
			%td= @device.title
			%td= @device.location.title
			%td= @device.status.title
			%td= @device.uniq_number_in_ASOMI
			%td= @device.device_type
			%td= @device.model
			%td= @device.form_of_mr
			%td= @device.serial_number
			%td= @device.mr_unit
			%td= @device.prev_mr_date
			%td= @device.next_mr_date
			%td= #@device.auto_position.automation_area
			%td= #@device.auto_position.technological_unit
			%td= #@device.auto_position.title
			%td= @device.replace_param
			%td= #@device.year_of_production
			%td= #@device.beginning_operation_year
			%td= #@device.input_range
			%td= #@device.input_measurement_units
			%td= #@device.changeover_input_range
			%td= #@device.changeover_input_measurement_units
			%td= #@device.output_range
			%td= #@device.output_measurement_units
			%td= #@device.passport
			%td= #@device.passport_store_place
			%td= #@device.passport_electronic_version
			%td= #@device.tech_description
			%td= #@device.tech_description_store_place
			%td= #@device.tech_description_electronic_version
			%td= #@device.user_manual
			%td= #@device.user_manual_store_place
			%td= #@device.user_manual_electronic_version
			%td= #@device.gold
			%td= #@device.silver
			%td= #@device.platinum
			%td= #@device.PG_metals
			%td= #@device.subreport_number
			%td= #@device.ENS_number
			%td= #@device.inventory_number

%p
= link_to 'Редактировать', edit_device_path(@device)
= link_to 'Назад к приборам', devices_path
