%h1 Редактировать личные данные

= form_for(@user) do |f|
	= render 'shared/error_messages', :object => f.object
	.field
		= f.label :Имя
		= f.text_field :name

	.field
		= f.label :Пароль
		= f.password_field :password

	.field
		= f.label :password_confirmation, "Подтверждение"
		= f.password_field :password_confirmation

	.actions
		= f.submit "Обновить"
