%header
	= link_to "Местоположения", locations_path
	|
	= link_to "Статусы", statuses_path
	|
	= link_to "Позиции автоматизации (#{AutoPosition.count})", auto_positions_path
	|
	= link_to "Логи СИ", logs_path
	|
	= link_to "Заявки (#{ReplacementOrder.count})", '#'
	.account
		- if signed_in?
			= @current_user.name
			= link_to "Выйти", signout_path, :method => :delete
		- else
			= link_to "Войти", signin_path
			= link_to "Регистрация", signup_path
	%br
		.menu
			%ul
				%li= link_to "Приборы (#{Device.count})", devices_path
				%li= link_to "Замены (#{ReplacementPair.where(:replacement_order_id => nil).count})", replacement_pairs_path