!!!
%html
	%head
		%title HappyDad
		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		= render 'layouts/header'
		.container
			- flash.each do |key, value|
				- if key == :notice
					= value
				- else
					.flash 
						= key
						= value
			= yield
		%footer
			Happy dad© 2011-2012 I-de-ya
		= debug(params) if Rails.env.development?
